<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.3//EN" "../lib-common/config-1.3.dtd">
<!--  <!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.3//EN" "http://resources.openmrs.org/doctype/config-1.3.dtd"> -->
<module configVersion="1.3">
	
	<id>heightweighttracker</id>
	<name>Height Weight tracker</name>
	<version>1.0.0</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Partners in Health</author>
	<description>
		Child growth tracker
	</description>
	<activator>@MODULE_PACKAGE@.HeightWeightTrackerModuleActivator</activator>
	
	<require_version>1.6.1.12909</require_version>

	<require_modules>
	   		<require_module>org.openmrs.module.htmlformentry</require_module>
	</require_modules>
	
	 <extension>
		<point>org.openmrs.patientDashboard.patientSummary</point>
		<class>@MODULE_PACKAGE@.extension.html.HeightWeightTrackerFormItem</class>
	</extension>
	
	<globalProperty>
		<property>heightweighttracker.constants</property>
		<defaultValue>
WEIGHT_KG = 3ce93b62-26fe-102b-80cb-0017a47871b2
Z_SCORE_WEIGHT = c9d8c9db-518c-4a00-985d-d2fc8ac1f739
Z_SCORE_HEIGHT = 6d4b1720-f45c-4069-98d9-e7e865105a7a
Z_SCORE_BMI = b373b84e-f089-40d2-90cb-f730b761498b
HEIGHT_WEIGHT_PERCENTILE = 2438e295-d9da-4d5c-bacc-13c313e34755
GROWTH_ENCOUNTER = daf32375-d293-4e27-a68d-2a58494c96e1
BMI = 3ce14da8-26fe-102b-80cb-0017a47871b2
PatientIdentiferId_IMB = c147b1de-2700-102b-80cb-0017a47871b2
PatientIdentiferId_PC = 4e458867-9a68-4e55-9fe0-fb49fac4e6b0
</defaultValue>
		<description>
			paste in a properties text file containing key, and local ID for objects.  For more explanation,
			see the ConceptDictionary class of this module.
		</description>
	</globalProperty>
	<globalProperty>
		<property>heightweighttracker.Form_New</property>
		<defaultValue>a66ffe09-e57c-4fea-9ca1-d13b2c0e002a</defaultValue>
		<description>
			form ID for new visits
		</description>
	</globalProperty>
	<globalProperty>
		<property>heightweighttracker.DisplayLink</property>
		<defaultValue>false</defaultValue>
		<description>
			If true the link will be displayed on the patient dashboard
		</description>
	</globalProperty>
	
	<!--  Message Properties -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	
</module>
