* { margin:0px; padding: 0px; font-size: 12px; }

td, th {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background: #fff
}

div#header	{ display: none; 	}
div#footer	{ display: none; 	}
div#content	{ padding: 5px; 	}

div#form-header-section { margin-bottom: 10px; }
		
.value-label	{ font-weight: bold; }
.value-data 	{ color: #2200FF; }
.value-date 	{ color: #2200FF; }
.value-calculated 	{ color: #5B1094; }

.today {font-weight: bold; }

.form-header {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.section-table {
	padding: 2px;
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid #CEDEEB;
	border-spacing: 0px;
	background:#DFEFFC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}

.section-graph {
	margin-bottom: 10px;
}
	
table.section-table th	{ background-color: #DFEFFC; border: 1px solid #CEDEEB; }
table.section-table td	{ border: 1px solid #CEDEEB; }

th.section-emr	{ display: none;	}
td.section-emr	{ text-align: center; display: none;	}

#col-visits-1 { font-weight: normal; text-align: center; width: 1%; background-color: #FFFFFF; }
#col-visits-view { font-weight: normal; text-align: center; width: 1%; background-color: #FFFFFF; }
#col-visits-2 { font-weight: normal; text-align: left; width: 10%; background-color: #FFFFFF; }
#col-visits-3 { font-weight: normal; text-align: left; width: 8%; background-color: #FFFFFF; }
#col-visits-4 { font-weight: normal; text-align: left; width: 9%; background-color: #FFFFFF; }
#col-visits-5 { font-weight: normal; text-align: left; width: 9%; background-color: #FFFFFF; }
#col-visits-6 { font-weight: normal; text-align: left; width: 9%; background-color: #FFFFFF; }
#col-visits-7 { font-weight: normal; text-align: left; width: 9%; background-color: #FFFFFF; }
#col-visits-8 { font-weight: normal; text-align: left; width: 9%; background-color: #FFFFFF; }
#col-visits-9 { font-weight: normal; text-align: left; width: 9%; background-color: #FFFFFF; }

.heightForAge {	width: 900px; height: 600px; }
.lengthForAge {	width: 900px; height: 600px; }
.weightForAgeBirth {	width: 900px; height: 600px; }
.weightForAge {	width: 900px; height: 600px; }
.bmiForAge {	width: 900px; height: 600px; }
.heightForAgeTotal {	width: 900px; height: 600px; }
.bmiGraph {	width: 720px; height: 540px; }
.weightForLength {	width: 900px; height: 600px; }
.weightForHeight {	width: 900px; height: 600px; }


.note {	color: red; }

.empty-row { display: none; }

.graphs h1 { font-size: 20px; }

/* Vertical Tabs */
.ui-tabs-vertical { min-width:85.8em; border: solid thin green; padding: 0.3em; background: #5C9CCC; }
.ui-tabs-vertical .ui-tabs-nav { padding: 0; float: left; width: 7em; background: #5C9CCC; border: none; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; border: none; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; background: white; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: left; width: 102em; background: white; -moz-border-radius-topright: 5px; }

table.bmiLegend th, table.bmiLegend td {
  font-size: 6px;
  padding: 0px;
  text-align: center;
}

table.bmiLegend th {
  background: #C5DBEC;
 }
